*{
	margin: 0 auto;
}

a{
	color: black !important;
	text-decoration: none !important;
}

a:hover{
	text-decoration: none !important;
	color: black !important;
}

#rsociales{
	background-color: rgba(255,255,255,0.45);
    border-top: 0.0625rem solid #d8dbdb;
    border-bottom: 0.0625rem solid #d8dbdb;
    border-right: 0.0625rem solid #d8dbdb;
    border-top-right-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;

    width: 5%;
    left: 0;
    top: 35%;
    position: absolute;
}

#tumblr{
	width: 57%;
	margin-left: 10%;
}

#menu{
	font-family: 'Quicksand', sans-serif;
	background-color: #343a40 !important;
	position: fixed;
	width: 100%;
	border-bottom: solid #ffc107f5 8px;
	top: 0;
	z-index: 1;
}

#img-iniciar-sesion-menu{
	width: 6%;
	right: 2%;
	margin: 0 1% 0 2%;
}


a.nav-link{
	font-size: 118%;
	transition: 300ms all;
	padding-right: 0.9rem !important;
	padding-left: 0.9rem !important;
	color: white !important;
}

a.nav-link:hover{
	color: #ffc107f5 !important;
	transform: scale(1.2);
}

.navbar-brand{
	width: 30%;
}

.titulo{
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
}

img.img-titulo{
	width: 9%;
}

footer{
	bottom: 0;
}

#contenido{
	margin-top: 7%;
}

/*Carreras*/

div.carrera{
	width: 25%;
	margin: 4.1%;
	float: left;
	transition: 500ms all;
}

div.carrera:hover{
	background-image: linear-gradient(gray, gray, white);
	transform: scale(1.2);
	box-shadow: 5px 5px 3px gray;
}

div.carrera img{
	width: 100%;
	border-bottom: solid #ffc107f5 4px;
}

div.carrera h2{
	width: 85%;
	color: #ffc107f5;
	font-weight: bolder;
}

div.carrera p{
	width: 85%;
	font-size: 115%;
	text-align: justify;
}